<%= stylesheet_link_tag 'checkout', 'data-turbo-track': 'reload' %>

<div class="checkout-container">
  <div class="banner-checkout" >
    <div class="hidden-div"></div>
    <div class="image-container">
      <%= link_to root_path, class: "logo-link" do %>
        <%= cl_image_tag "brewery_shop/Brewery_Logo", class: "header-image" %>
      <% end %>
    </div>
    <div class="checkout-shopping">
      <%= link_to cart_path(current_cart), class: "checkout-icon" do %>
        <i class="fa-solid fa-bag-shopping me-1"></i>
      <% end %>
    </div>
  </div>

  <div class="checkout-main" data-controller="orders" data-order-id="<%= @order.id %>">
    <div class="checkout-left">
      <div class="checkout-form">
        <div class="mb-5">
          <%= form_for @order, url: orders_path, method: :post, local: true do |f| %>
            <%= f.fields_for :order_items do |item_fields| %>
              <%= item_fields.hidden_field :beer_id %>
              <%= item_fields.hidden_field :quantity %>
              <%= item_fields.hidden_field :price %>
            <% end %>

            <h3 class="mb-2">Contact</h3>
            <div class="form-group row">
              <div class="col-md-12">
                <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email" %>
              </div>

              <div class="col-md-12">
                <%= f.telephone_field :phone, class: "form-control", placeholder: "Mobile phone (optional)" %>
              </div>
            </div>

            <h3 class="mb-2">Delivery</h3>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.country_select :country, { prompt: "Country" }, { class: "form-control", required: true } %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :last_name, class: "form-control", required: true, placeholder: "Last name" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.text_field :address, class: "form-control", required: true, placeholder: "Address" %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <%= f.text_field :city, class: "form-control", required: true, placeholder: "City" %>
              </div>

              <div class="col-md-4">
                <%= f.text_field :region, class: "form-control", required: true, placeholder: "Region" %>
              </div>

              <div class="col-md-4">
                <%= f.text_field :post_code, class: "form-control", required: true, placeholder: "Postal code" %>
              </div>
            </div>

            <h3 class="mb-2">Shipping method</h3>
            <%= f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, { prompt: "Select a shipping method"}, { class: 'form-control', id: 'shipping-method-select', data: { action: 'orders#updateTotalPrice' }, required: true } %>

            <div class="actions">
              <%= f.submit 'Save and go to payment', class: "place-order-buttom"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="checkout-right">
      <div class="checkout-summary">
        <% if @order_items.present? %>
          <% @order_items.each do |item| %>
            <div class="order-beer-card">
              <div class="order-beer-image"><%= image_tag(item.beer.image) %></div>
              <div class="order-beer-title">Qty <%= item.quantity %> - <%= item.beer.title %></div>
              <div class="order-beer-price"><%= number_to_currency(item.total_price, unit: '€') %></div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="checkout-subtotal">
        <h6>Subtotal</h6>
        <h6 id="subtotal-price" data-orders-target="subtotalPrice"><%= number_to_currency(@order.items_subtotal, unit: '€') %></h6>
      </div>
      <div class="checkout-shipping">
        <h6>Shipping<h6>
        <h6 data-orders-target="shipping" id="shipping-price">Enter a shipping method</h6>
      </div>
      <div class="checkout-total">
        <h3>Total</h3>
        <h3 data-orders-target="totalPrice" id="total-price">- -</h3>
      </div>
    </div>

  </div>
</div>
