<%= stylesheet_link_tag 'checkout', 'data-turbo-track': 'reload' %>

<div data-controller="hello">
  Stimulus should log a message when this div is loaded.
</div>

<div class="checkout-container">
  <div class="banner-checkout" >
    <div class="hidden-div"></div>
    <div class="image-container"><img src="<%= asset_path('Brewery Logo.png') %>" class="checkout-image"></div>
    <div class="checkout-shopping">
      <%= link_to cart_path(current_cart), class: "checkout-icon" do %>
        <i class="fa-solid fa-bag-shopping"></i>
      <% end %>
    </div>
  </div>

  <div class="checkout-main">
    <div class="checkout-left">
      <div class="checkout-form">
        <div class="mb-5">
          <h3 class="mb-2">Contact</h3>
          <%= form_for @order, local: true do |f| %>
            <div class="form-group row">
              <div class="col-md-12">
                <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email" %>
              </div>

              <div class="col-md-12">
                <%= f.telephone_field :phone, class: "form-control", required: true, placeholder: "Mobile phone (optional)" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mb-5">
          <h3 class="mb-2">Delivery</h3>
          <%= form_for @order, local: true, class: "row g-3" do |f| %>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.country_select :country, { prompt: "Country" }, { class: "form-control", required: true } %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :last_name, class: "form-control", required: true, placeholder: "Last name" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <%= f.text_field :address, class: "form-control", required: true, placeholder: "Address" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-4">
                <%= f.text_field :city, class: "form-control", required: true, placeholder: "City" %>
              </div>

              <div class="col-md-4">
                <%= f.text_field :region, class: "form-control", required: true, placeholder: "Region" %>
              </div>

              <div class="col-md-4">
                <%= f.text_field :post_code, class: "form-control", required: true, placeholder: "Postal code" %>
              </div>
            </div>


          <% end %>
        </div>
        <div class="mb-5">
          <h3 class="mb-2">Shipping method</h3>
          <%= form_with model: @order, local: false, data: { controller: "orders" } do |f| %>
            <%= f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, { prompt: "Select a shipping method"}, { class: 'form-control', id: 'shipping-method-select', data: { action: 'orders#updateTotalPrice' } } %>
            <div class="checkout-total" data-orders-target="totalPrice">
              <h3>Total</h3>
              <h3 id="total-price"><%= number_to_currency(@order.total_price, unit: '€') %></h3>
            </div>
          <% end %>
        </div>

        <div class="mb-5">
          <h3 class="mb-2">Payment</h3>
        </div>
        <%= form_for @order, local: true do |f| %>
          <%= f.submit 'Place Order', class: "place-order-buttom" %>
        <% end %>
      </div>
    </div>

    <div class="checkout-right">
      <div class="checkout-summary">

        <% @order_items.each do |item| %>
          <div class="order-beer-card">
            <div class="order-beer-image"><%= image_tag(item.beer.image) %></div>
            <div class="order-beer-title">Qty <%= item.quantity %> - <%= item.beer.title %></div>
            <div class="order-beer-price"><%= number_to_currency(item.total_price, unit: '€') %></div>
          </div>
        <% end %>

        <div class="checkout-subtotal">
          <h6>Subtotal</h6>
          <h6 id="subtotal-price"><%= number_to_currency(@order.total_price, unit: '€') %></h6>
        </div>
        <div class="checkout-shipping">
          <h6>Shipping<h6>
          <h6 id="shipping-price"><%= number_to_currency(@order.total_price, unit: '€') %></h6>
        </div>
        <div class="checkout-total">
          <h3>Total</h3>
          <h3 id="total-price"><%= number_to_currency(@order.total_price, unit: '€') %></h3>
        </div>

      </div>
    </div>
  </div>

</div>
