<div class="cart-container">
  <div class="cart-left-column">
    <div class="left-container">
      <h2 class="title-cart">Shopping Cart</h2>
      <div class="price-title">Price</div>
      <div class="cart-items-column">
        <% @cart.cart_items.each do |item| %>
          <div class="cart-item-card">
            <div class="cart-item-image">
              <%= link_to beer_path(item.beer) do %>
                <%= image_tag(item.beer.image) %>
              <% end %>
            </div>
            <div class="cart-item-info">
              <h3 class="cart-item-title"><%= item.beer.title %></h3>
              <div class="cart-item-quantity">
                <p>Qty</p>
                <%= form_for(item, url: cart_item_path(item), method: :patch, html: { class: "quantity-form" }) do |f| %>
                  <%= f.number_field :quantity, min: 1, value: item.quantity, class: "quantity-input" %>
                  <%= f.submit 'Update', class: "quantity-update-button" %>
                <% end %>
                <%= button_to cart_item_path(item), method: :delete, class: "cart-bin" do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
              </div>
            </div>
            <div class="cart-item-price"><%= number_to_currency(item.total_price, unit: '€') %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cart-right-column">
    <div class="total-price"><p>Total (<%= @cart.total_units %> units): <%= number_to_currency(@cart.total_price, unit: '€') %></p></div>
    <%= button_to "CHECKOUT", cart_item_path("item"), class: "checkout-button" %>
  </div>
</div>
