<main class="show-main">
  <div class="show-card-container">
    <img src="<%= asset_path(@beer.image) %>" alt="<%= @beer.title %>" class="beer-image-show">
    <div class="info-show">
      <p class="beer-company-text">The Brewing Co.</p>
      <div class="show-beer-title">
        <h2><%= @beer.title %></h1>
      </div>
      <div class="show-beer-price">
        <p><%= number_to_currency(@beer.price, unit: '€') %></p>
      </div>
      <div class="show-tax">
        <p>Tax included. Shipping calculated at checkout.</p>
      </div>
      <div class="show-add-container">
        <%= button_to "ADD TO CART", cart_items_path(beer_id: @beer.id), method: :post, class: "add-button" %>
      </div>
      <div class="show-beer-description">
        <p><%= @beer.description %></p>
      </div>
      <div class="show-beer-details">
        <div class="details-container">
          <div class="detail-title">ABV</div>
          <div class="detail-content"><%= @beer.abv %>%</div>
        </div>
        <div class="details-container">
          <div class="detail-title">IBU</div>
          <div class="detail-content"><%= @beer.ibu %></div>
        </div>
        <div class="details-container">
          <div class="detail-title">HOPS</div>
          <div class="detail-content"><%= @beer.hops %></div>
        </div>
      </div>
    </div>
  </div>
</main>
