<header class="header-container">
  <div class="header-header">
    <div class="header-image-nav">
      <img src="<%= asset_path('Brewery Logo.png') %>" class="header-image" alt="Header Image">
      <nav class="header-nav">
        <ul class="nav-links">
          <li class="header-menu <%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
          <li class="header-menu <%= 'active' if controller_name == 'beers' %>"><%= link_to 'Beers', beers_path %></li>
          <li class="header-menu <%= 'active' if current_page?(about_path) %>"><%= link_to 'About', about_path %></li>
          <li class="header-menu <%= 'active' if current_page?(contact_path) %>"><%= link_to 'Contact', contact_path %></li>
        </ul>
      </nav>
    </div>
    <div class="header-icons">
      <ul class="nav-icons">
        <li class="header-icon"><i class="fa-solid fa-magnifying-glass"></i></li>
        <li class="header-icon"><i class="fa-solid fa-user"></i></li>
        <li class="header-icon">
          <%= link_to cart_path do %>
            <i class="fa-solid fa-bag-shopping"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
