<!DOCTYPE html>
<html>
  <head>
    <title>BreweryShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body-container">
      <div class="announcement-bar">
        <p class="bar-message">American Inspired Brewery Shop</p>
      </div>

      <header class="header-container">
        <div class="header-header">
          <div class="header-image-nav">
            <img src="<%= asset_path('Brewery Logo.jpg') %>" class="header-image" alt="Header Image">
            <nav class="header-nav">
              <ul class="nav-links">
                <li class="header-menu"><%= link_to 'Home', root_path %></li>
                <li class="header-menu"><%= link_to 'Beers', beers_path %></li>
                <li class="header-menu"><%= link_to 'Merch', merch_path %></li>
                <li class="header-menu"><%= link_to 'About', about_path %></li>
                <li class="header-menu"><%= link_to 'Contact', contact_path %></li>
              </ul>
            </nav>
          </div>
          <div class="header-icons">
            <ul class="nav-icons">
              <li class="header-icon"><i class="fa-solid fa-magnifying-glass"></i></li>
              <li class="header-icon"><i class="fa-solid fa-user"></i></li>
              <li class="header-icon"><i class="fa-solid fa-bag-shopping"></i></li>
            </ul>
          </div>
        </div>
      </header>

      <main class="content">
        <%= yield %>
      </main>

      <footer class="footer">
        <div class="footer-info">
          <div class="footer-grid">
            <div class="footer-grid-item">
              <h2 class="footer-grid-item-title">Quick links</h2>
              <ul class="footer-grid-list">
                <li>Search</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>Refund Policy</li>
              </ul>
            </div >
            <div class="footer-grid-item-image">
              <div class="footer-grid-image">
                <img src="<%= asset_path('Brewery Logo Inverted.jpg') %>" class="footer-image" alt="Header Image">
              </div>
            </div>
            <div class="footer-grid-item">
              <h2 class="footer-grid-item-title">American Craft Beers</h2>
              <p>The art of aromatic beers</p>
            </div>
          </div>
          <div class="footer-newsletter">
            <div class="news-container">
              <div class="footer-newsletter-inside">
                <h2>Subscribe to follow along</h2>
                <p class="news-form">FORM FOR EMAIL</p>
              </div>
              <div class="div-space-between">
              </div>
              <ul class="footer-icon-list">
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-solid fa-beer-mug-empty"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="div-content-bottom">
          <p class="footer-content-bottom">&copy; 2024 Brewery Shop</p>
        </div>
      </footer>
    </div>
  </body>
</html>
